
@font-face {
    font-family: 'DancingScript Regular';
    src: url(./fonts/DancingScript-Regular.ttf);
}
@font-face {
    font-family: 'Hindi Regular';
    src: url(./fonts/Hind-Regular.ttf);
}
@font-face {
    font-family: 'EduVICWANTBeginner Regular';
    src: url(./fonts/EduVICWANTBeginner-Regular.ttf);
}
@font-face {
    font-family: 'Rubik Regular';
    src: url(./fonts/RubikMoonrocks-Regular.ttf);
}
.heading1 {
    font-family: 'DancingScript Regular';
}
.heading2 {
    font-family: 'Rubik Regular';
}